.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-Scroll-Down {
  0% {
    top: 0%;
  }
  33% {
    top: 0%;
  }
  100% {
    top: -50%;
  }
}

.mainContainer {
  position: absolute;
  width: 100%;
  height: 93%;
  bottom: 7%;
  overflow: hidden;
}

.background {
  position: absolute;
  left: 0;
  top:-4em;
  margin: auto;
  height: 125%;
  display: block;
}

.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.braincoral {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 85%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.coral1 {
  position: absolute;
  width: 95%;
  height: 95%;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%) rotate(30deg);
}
.starfish {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 70%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.userStatisticsTitle {
  margin-top: -50px;
  margin-bottom: 0px;
}

.reuseInfoCard {
  margin-top: 15px;
  text-align: left;
}

.travelInfoCard {
  margin-top: 15px;
  text-align: left;
}

.engageInfoCard {
  margin-top: 15px;
  text-align: left;
}

.seasponge {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 78%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.coral2 {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 65%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.seaweed {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 80%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Log {
  margin-left: -5vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 79vh;
}

.Minus {
  margin-left: -5vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 79vh;
}

.Cup {
  margin-left: -11vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 67vh;
}

.Knife {
  margin-left: 1vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 67vh;
}

.Refuse {
  margin-left: -11vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 55vh;
}

.Bag {
  margin-left: 1vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 55vh;
}

.Bus {
  margin-left: -11vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 67vh;
}

.Bike {
  margin-left: 1vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 67vh;
}

.Carpool {
  margin-left: -11vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 55vh;
}

.Walk {
  margin-left: 1vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 55vh;
}

.Plastic {
  margin-left: -5vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 43vh;
}
.Transport {
  margin-left: -5vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 55vh;
}
.Events {
  margin-left: -5vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 67vh;
}

.infoContainer {
  height: 150%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fish {
  position: absolute;
  left: -10%;
  top: 30%;
  width: 5em;
  height: 5em;
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  animation: swim 17s 0.5s infinite;
  -webkit-animation: swim 17s 0.5s infinite;
}

.fish2 {
  position: absolute;
  right: -30%;
  top: 60%;
  width: 4.5em;
  height: 4.5em;
  transform: rotate(5deg) scaleX(-1);;
  -webkit-transform: rotate(5deg);
  animation: swim2 23s 1.5s infinite;
  -webkit-animation: swim2 23s 1.5s infinite;
}

.fish2 div {
  position: absolute;
}

.fish div {
  position: absolute;
}

@keyframes swim {
  0% {
    left: -30%;
    top: 50%;
    transform: rotate(5deg);
  }
  25% {
    left: 10%;
    top: 45%;
    transform: rotate(5deg);
  }
  35% {
    left: 25%;
    top: 50%;
    transform: rotate(15deg);
  }
  50% {
    left: 40%;
    top: 45%;
    transform: rotate(-5deg);
  }
  65% {
    left: 70%;
    top: 45%;
    transform: rotate(0deg);
  }
  85% {
    left: 95%;
    top: 40%;
    transform: rotate(0deg);
  }
  100% {
    left: 120%;
    top: 45%;
    transform: rotate(-20deg);
  }
}

@keyframes swim2 {
  0% {
    right: -30%;
    top: 60%;
    transform: rotate(5deg) scaleX(-1);
  }
  25% {
    right: 10%;
    top: 65%;
    transform: rotate(5deg) scaleX(-1);
  }
  35% {
    right: 28%;
    top: 60%;
    transform: rotate(15deg) scaleX(-1);
  }
  50% {
    right: 42%;
    top: 65%;
    transform: rotate(-5deg) scaleX(-1);
  }
  65% {
    right: 70%;
    top: 60%;
    transform: rotate(0deg) scaleX(-1);
  }
  85% {
    right: 95%;
    top: 60%;
    transform: rotate(0deg) scaleX(-1);
  }
  100% {
    right: 120%;
    top: 65%;
    transform: rotate(-20deg) scaleX(-1);
  }
}
