.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-Scroll-Down {
  0% {
    top: 0%;
  }
  33% {
    top: 0%;
  }
  100% {
    top: -50%;
  }
}

.mainContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background {
  position: absolute;
  margin: auto;
  height: 100%;
  display: block;
}

.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.braincoral{
  position: absolute;
  width: 30%;
  height: 30%;
  top: 75%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.coral1 {
  position: absolute;
  width: 95%;
  height: 95%;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%) rotate(30deg);
}
.starfish {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 65%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.userStatisticsTitle {
  margin-top: -50px;
  margin-bottom: 0px;
}

.reuseInfoCard {
  margin-top: 15px;
  text-align: left;
}

.travelInfoCard {
  margin-top: 15px;
  text-align: left;
}

.engageInfoCard {
  margin-top: 15px;
  text-align: left;
}

.seasponge{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 80%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.coral2 {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 65%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.seaweed{
  position: absolute;
  width: 70%;
  height: 70%;
  top: 85%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Log {
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 85vh;

}

.Minus {
  margin-left: -5vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 85vh;

}

.Cup {
  margin-left: -11vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 73vh;
}

.Knife {
  margin-left: 1vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 73vh;
}

.Refuse {
  margin-left: -11vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 61vh;
}

.Bag {
  margin-left: 1vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 61vh;
}

.Bus {
  margin-left: -11vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 73vh;
}

.Bike {
  margin-left: 1vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 73vh;
}

.Carpool {
  margin-left: -11vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 61vh;
}

.Walk {
  margin-left: 1vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 61vh;
}

.Plastic {
  margin-left: -5vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 49vh;
}
.Transport {
  margin-left: -5vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 61vh;
}
.Events {
  margin-left: -5vh;
  border-radius: 0.5em;
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 73vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
